@import "global";

@import "capsule";



body {
	background-color: $clouds;
	color: #222;
	font-size: $base-em;
}

h1, h2 {
 font-family:$bigFonts;
 font-weight: bold;
 //text-transform: uppercase;
 color: $primary-color;
}
a:link, a:visited {
  color: $side-primary-color;
  text-decoration: underline;
}
a:hover {
  color: $side-alt-color;
  text-decoration: none;
}
ul, li {
	&.nodots {
		list-style: none;
		padding: 0;
		margin-left: 0;
	}
}


#logo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: $logoFont;
	color: $logoTextColor;
	//text-transform: uppercase;
	font-size: $baseLogoSize;
	img,object {
		height: 1em;
		vertical-align: bottom;
	}
	@media only screen and (min-width : 486px) {
		font-size: $baseLogoEmSize * ($baseLogoFactor+2);
	}
	@media only screen and (min-width : 768px) {
		font-size: $baseLogoEmSize * ($baseLogoFactor+4);
	}
	@media only screen and (min-width : 1024px) {
		font-size: $baseLogoEmSize * ($baseLogoFactor+6)
	}
	margin-bottom: $base-em*2;
	margin-top: $base-em;
}
.right-o {
	text-align: right;
}
ul.semi-spaced {
	li:not(:first-child) {
		margin-top: 0.5em;
	}
}
.newsForm input {
	transition: 0.5s;
	width: 100%;
}
input.success {
	border: none;
	padding: 2pt;
	background: transparent!important;
	-webkit-transform: rotateX(360deg);
	transition: -webkit-transform 1s, color 1s, background 1s;
	color: $offwhite;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
}
input.error:not(:focus) {
	color: $offwhite;
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
.copyright {
	text-align: center;
	@media #{$small} {
		text-align: right;
	}
}
