- var title = false
doctype html
html(ng-app="centur")
	block vars
	head
		title Centur.us
			if title
				|  - #{title}
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(href="assets/css/_main.css", rel="stylesheet")
		//link(rel="stylesheet", href="http://basehold.it/16")
	body
		header#logo
			img(src="assets/images/centur-us.svg", data-svg-image, alt="Centur.us")
		section#main.row
			block content

		footer.row
			.columns.small-12.large-6.large-offset-6.copyright
				| centur.us &copy; 
				a(href="//corditestudios.com") Cordite Studios
				|  2013-2014
		script(src="//cdn.jsdelivr.net/angularjs/1.1.2/angular.min.js")
		script(src="assets/js/modernizr.js")
		script(src="assets/js/_main.js")