extends _master

block vars
	- title = "Upcoming Social Network"

block content
	.columns.small-12.large-6
		include:md ../markdown/hello.md
	.columns.small-12.large-6
		include:md ../markdown/what-is.md
	.columns.small-12.large-6.push-6
		include:md ../markdown/services-provided.md
	.columns.small-12.large-6.pull-6
		include:md ../markdown/api.md
	.columns.small-12.large-12
		include:md ../markdown/footer.md
